extends layout

block head
  title Educablocks
  link(rel='stylesheet', href='static/bloques-101/src/highlight/styles/default.css')
  link(rel='stylesheet', href='static/bloques-101/src/bloques/css/educablocks.css')

block extra-nav
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.material-icons apps
    ul.dropdown-menu
      li
        a(href='#', onclick='toogleCode()') Ocultar el código
      li
        a(href='#', onclick='uploadClick()') Cargar en Genuino 101
      li
        a(href='#', onclick='saveCode()') Guardar código Arduino
      li
        a(href='#', onclick='save()') Guardar Bloques
      li
        a(href='#', onclick='fakeload') Cargar Bloques
      input#load(type='file', style='display: none;')

block bloques101  
  xml#startBlocks(style='display: none')
    block(type='controls_setupLoop', deletable='false')
  #wrap
    #blockly(style='float: left; width: 66%;')
    #code(style='float: right; width: 32%;')

block scripts      
  script(src='static/bloques-101/js/Blob.js')
  script(src='static/bloques-101/js/spin.js')
  script(src='static/bloques-101/js/FileSaver.min.js')
  script(src='static/bloques-101/js/blockly_helper.js')
  script(src='static/bloques-101/src/bloques/js/underscore/underscore.js')
  script(src='static/bloques-101/src/bloques/js/blockly-bq/blockly_compressed.js')
  script(src='static/bloques-101/src/bloques/js/blockly-bq/blocks_compressed.js')
  script(src='static/bloques-101/src/bloques/js/blockly-bq/arduino_compressed.js')
  script(src='static/bloques-101/src/bloques/js/educablocks.js')
  script(src='static/bloques-101/src/highlight/highlight.pack.js')
  script.
    if (window.roboblocksLanguage === undefined ||
    window.roboblocksLanguage == null) {
    var roboblocksLanguage = 'es-ES';
    }
    RoboBlocks.load({
    zoom: 0.5
    });
    // New workspace for each test case
    var el = document.getElementById('blockly');
    Blockly.inject(el, {
    toolbox: Blockly.createToolbox()
    });
    // Create a default setup/loop block
    Blockly.Xml.domToWorkspace(Blockly.getMainWorkspace(),
    document.getElementById('startBlocks'));
    $('.blocklySvg, #blockly').height('100%');
    $('.blocklySvg').width('100%');
    var colors = [
    "",
    RoboBlocks.LANG_COLOUR_PROCEDURES,
    RoboBlocks.LANG_COLOUR_CONTROL,
    RoboBlocks.LANG_COLOUR_LOGIC,
    RoboBlocks.LANG_COLOUR_MATH,
    RoboBlocks.LANG_COLOUR_VARIABLES,
    RoboBlocks.LANG_COLOUR_TEXT,
    RoboBlocks.LANG_COLOUR_COMMUNICATION,
    RoboBlocks.LANG_COLOUR_ZUM,
    RoboBlocks.LANG_COLOUR_BQ,
    RoboBlocks.LANG_COLOUR_ADVANCED,
    RoboBlocks.LANG_COLOUR_LCD,
    RoboBlocks.LANG_COLOUR_SERVO,
    ];
    $('.blocklyTreeRow').each( function (i,e) {
    $(e).prepend('<span class="treeLabelBlock" style="background-color:' + colors[i] + '"></span>');
    });
    // Update code
    Blockly.addChangeListener(function () {
    $('#code').html('<code class="c++"><pre>'
    + escapeCode(Blockly.Arduino.workspaceToCode())
    + '</pre></code>');
    // Highlight
    $("pre").each(function (i, e) {
    hljs.highlightBlock(e);
    });
    });
    // Show/hide code
    function toogleCode() {
    if ($('#code').css('display') == 'none') {
    // Show
    $('#code').show('');
    $('#blockly').width('66%');
    } else {
    // Hide
    $('#code').hide('');
    $('#blockly').width('100%');
    }
    // Resize workspace
    Blockly.fireUiEvent(window, "resize");
    }
    function escapeCode(code) {
    var str = code;
    str = str.replace(/</g, "&lt;");
    str = str.replace(/>/g, "&gt;");
    return str;
    }
    function resetWorkspace() {
    Blockly.mainWorkspace.clear();
    Blockly.Xml.domToWorkspace(Blockly.getMainWorkspace(),
    document.getElementById('startBlocks'));
    }
