doctype 5
html(lang="en") 
    head
        meta(charset="utf-8")
        meta(name="description", content="ElBraian MVP")
        meta(name="author", content="Diego Ramirez")
        meta(name="viewport", content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet",href="/static/syntaxhighlighter/styles/shCoreDefault.css")
    block scripts
        script(src="/static/js/jquery-1.8.3.min.js")
        script(src="static/js/jquery.json-2.4.min.js")
        script(src="/static/syntaxhighlighter/scripts/shCore.js")
        script(src="/static/syntaxhighlighter/scripts/shBrushPython.js")
        
        script(src="/static/js/console.js")
    body
        div.wrapper#main
            div.wrapper-in
                header
                    h1 elBraian in concert
                div.main.cf
                    div.row.cf
                        div.left
                            textarea#code(name="code", cols="70", rows="20")
                            br
                            button#execute(class="button green") ejecutar
                            div.panel.profile
                                h4 comandos
                                pre(class="brush: python; toolbar: false; smart-tabs: false;")
                                    |from examples.nivel3_api import *

                                    |adelante(numero)
                                    |girar_izquierda(numero)
                            div.panel.profile
                                h4 implementacion api
                                pre(class="brush: python; toolbar: false; smart-tabs: false;")
                                    |from time import sleep
                                    |from braianDriver.robot import Robot

                                    |robot = Robot()

                                    |def adelante(cuanto):
                                    |&#09;robot.set_forward()
                                    |&#09;robot.move(speed=Robot.SPEED_MEDIUM)
                                    |&#09;sleep(cuanto)
                                    |&#09;robot.stop()

                                    |def atras(cuanto):
                                    |&#09;robot.set_backward()
                                    |&#09;robot.move(speed=Robot.SPEED_MEDIUM)
                                    |&#09;sleep(cuanto)
                                    |&#09;robot.stop()

                                    |def girar_izquierda(cuanto):
                                    |&#09;robot.set_rotate_left()
                                    |&#09;robot.move(speed=Robot.SPEED_LOW)
                                    |&#09;sleep(cuanto)
                                    |&#09;robot.stop()

                                    |def girar_derecha(cuanto):
                                    |&#09;robot.set_rotate_right()
                                    |&#09;robot.move(speed=Robot.SPEED_LOW)
                                    |&#09;sleep(cuanto)
                                    |&#09;robot.stop()

                        div.right 
                            div.panel.profile
                                img(src="/static/img/profile.png")
                                h3 ELBRAIAN
                                h4 RODADUS ROBOTUS
                                p <b>elBraian</b> (born Brian Claudio Estevez) is one of the new generation of home-made robots. He cames to life to help his creator with some daily simple tasks: laundry, cleanup, washing the dishes and sometimes he pays the bills.
                                p His favourite soccer team is Laferrere, and you can meet him at the stadium every saturday evening, singing and "agitando los trapos".
