doctype 5
html(lang="en") 
    head
        meta(charset="utf-8")
        meta(name="description", content="ElBraian MVP")
        meta(name="author", content="Diego Ramirez")
        meta(name="viewport", content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet", href="/static/css/main.css")
    body
        div.wrapper#main
            div.wrapper-in
                header
                    h1 elBraian in concert
                div.main.cf
                    div.row.cf
                        div.left
                            form(method="post")
                                textarea#code(name="code")
                                input(type="submit", value="ejecutar")
                        div.right 
                            div.panel.profile
                                img(src="/static/img/profile.png")
                                h3 ELBRAIAN
                                h4 RODADUS ROBOTUS
                                p <b>elBraian</b> (born Brian Claudio Estevez) is one of the new generation of home-made robots. He cames to life to help his creator with some daily simple tasks: laundry, cleanup, washing the dishes and sometimes he pays the bills.
                                p His favourite soccer team is Laferrere, and you can meet him at the stadium every saturday evening, singing and "agitando los trapos".                 