extends layout.jade

block head
  link(rel='icon', href='img/favicon.png')
  title Dashboard
  link(rel='stylesheet', href='static/dashboard-modules/bootstrap-toggle.min.css')

block content
  .content
    .row
      .col-lg-12.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons wifi
          .card-content
            p.category
              i.material-icons network_check
              |  Dirección IP del dispositivo
              br
          .card-footer
            .stats
              .col-md-12
                input#device_address(type='text', name='fname', placeholder=' localhost:4000/serial')
                button#validate.btn.btn-info(type='button') Conectar
          //
    .row
      .col-lg-4.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons cloud
          .card-content
            p.category Pin analógico A0:
            h3.title
              span#A0
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor de Humedad
      .col-md-8
        .card
          .card-header.card-chart(data-background-color='blue')
            #container.ct-chart
          .card-footer
            .stats
              i.material-icons access_time
              |  actualizando cada 5 segundos
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons brightness_5
          .card-content
            p.category Pin analógico A1:
            h3.title
              span#A1
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor LDR
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons surround_sound
          .card-content
            p.category Pin analógico A2:
            h3.title
              span#A2
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor de sonido
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons replay
          .card-content
            p.category Pin analógico A3:
            h3.title
              span#A3
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Potenciómetro
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons replay
          .card-content
            p.category Pin analógico A3:
            h3.title
              span#A3
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Potenciómetro
    .row
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 10:
            br
            br
          .card-footer
            .stats
              //
                <button id='on' class='btn btn-info ' type="button">Prender</button>
                <button id='off' class='btn btn-danger' type="button">Apagar</button>
              input#toggle-10(type='checkbox', data-size='large', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 11:
            br
            br
          .card-footer
            .stats
              input#toggle-11(type='checkbox', data-size='large', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 12:
            br
            br
          .card-footer
            .stats
              input#toggle-12(type='checkbox', data-size='large', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 13:
            br
            br
          .card-footer
            .stats
              input#toggle-13(type='checkbox', data-size='large', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
  
block scripts
  script(src='static/dashboard-modules/bootstrap-toggle.min.js')
  script(src='static/dashboard-modules/highcharts.js')
  script(src='static/dashboard-modules/exporting.js')
  script(src='static/dashboard-modules/ajaxq.js')
  script(src='static/dashboard-modules/arest.js')
  script(src='static/dashboard-modules/index.js')
