extends layout.jade

block head
  link(rel='icon', href='static/favicon.ico')
  title Dashboard
  link(rel='stylesheet', href='static/dashboard-modules/bootstrap-toggle.min.css')

block content
  .content
    br
    br
    .row
      .col-lg-12.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons wifi
          .card-content
            p.category
              i.material-icons network_check
              |  Direccion IP del dispositivo
              br
          .card-footer
            .stats
              .col-md-12
                .form-group.label-floating
                  label.control-label [ip del gateway]:4000/serial
                  input#device_address.form-control(type='text')
                button#validate.btn.btn-info(type='button') Conectar

    .row
      .col-lg-4.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons cloud
          .card-content
            p.category Pin analogico A0:
            h3.title
              span#A0
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor de Humedad
      .col-md-8
        .card
          .card-header.card-chart(data-background-color='blue')
            #container.ct-chart
          .card-footer
            .stats
              i.material-icons access_time
              |  actualizando cada 5 segundos
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons brightness_5
          .card-content
            p.category Pin analogico A1:
            h3.title
              span#A1
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor LDR
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons surround_sound
          .card-content
            p.category Pin analogico A2:
            h3.title
              span#A2
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Sensor de sonido
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons replay
          .card-content
            p.category Pin analogico A3:
            h3.title
              span#A3
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Potenciometro
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons replay
          .card-content
            p.category Pin analogico A3:
            h3.title
              span#A3
              small grados
          .card-footer
            .stats
              i.material-icons show_chart
              |  Potenciometro
    .row
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 10:
            br
            br
          .card-footer
            .stats
              button#on.btn.btn-info(type='button') On
              button#off.btn.btn-danger(type='button') Off
              //-input#toggle-10(type='checkbox', data-size='large', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 11:
            br
            br
          .card-footer
            .stats
              input#toggle-11(type='checkbox', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 12:
            br
            br
          .card-footer
            .stats
              input#toggle-12(type='checkbox', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.material-icons lightbulb_outline
          .card-content
            p.category
              i.material-icons highlight
              |  Pin digital 13:
            br
            br
          .card-footer
            .stats
              input#toggle-13(type='checkbox', data-on='Prendido', data-off='Apagado', data-toggle='toggle', data-onstyle='success', data-offstyle='danger')
  
block scripts
  script(src='static/dashboard-modules/bootstrap-toggle.min.js')
  script(src='static/dashboard-modules/highcharts.js')
  script(src='static/dashboard-modules/exporting.js')
  script(src='static/dashboard-modules/ajaxq.js')
  script(src='static/dashboard-modules/arest.js')
  script(src='static/dashboard-modules/index.js')
  script(src='static/dashboard-modules/material.min.js')
