doctype 5
html(lang="en") 
    head
        meta(charset="utf-8")
        meta(name="description", content="ElBraian MVP")
        meta(name="author", content="Diego Ramirez")
        meta(name="viewport", content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet", href="/static/css/main.css")
    body
        div.wrapper
            div.wrapper-in
                header
                    h1 elBraian in concert
                div.main.cf
                    div.row.cf
                        div.left
                            div.panel.video
                                img(src="/static/img/bg-video.png")
                        div.right 
                            div.panel.profile
                                img(src="/static/img/profile.png")
                                h3 ELBRAIAN
                                h4 RODADUS ROBOTUS
                                p <b>elBraian</b> (born Brian Claudio Estevez) is one of the new generation of home-made robots. He cames to life to help his creator with some daily simple tasks: laundry, cleanup, washing the dishes and sometimes he pays the bills.
                                p His favourite soccer team is Laferrere, and you can meet him at the stadium every saturday evening, singing and "agitando los trapos".                    
                    div.row.cf
                        div.left
                            div.panel.console
                                p Initializing...
                                p Movin backward
                                p Turning left
                                p Movin forward
                        div.right
                            div.panel.remote
                                table(cellpadding="0", cellspacing="0", border="0", width="100%")
                                    tr
                                        td 
                                            button.button.green#up-left
                                                i.icon-arrow-up-left
                                        td 
                                            button.button.red#up
                                                i.icon-arrow-up
                                        td 
                                            button.button.green#up-right
                                                i.icon-arrow-up-right
                                    tr
                                        td 
                                            button.button.red
                                                i.icon-arrow-left
                                        td 
                                            button.button.dark
                                                i.icon-stop
                                        td 
                                            button.button.red
                                                i.icon-arrow-right
                                    tr
                                        td 
                                            button.button.green#down-left
                                                i.icon-arrow-down-left
                                        td 
                                            button.button.red
                                                i.icon-arrow-down
                                        td 
                                            button.button.green#down-right
                                                i.icon-arrow-down-right