doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='img/favicon.png')
    title Educablocks
    link(rel='stylesheet', href='static/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='static/dashboard-modules/material-dashboard.css')
    link(rel='stylesheet', href='static/dashboard-modules/bootstrap-toggle.min.css')
  body
    .container
      nav.navbar.navbar-info.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            a.navbar-brand(href='../') Educablocks
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.dropdown.active
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Arduino & IoT
                  b  
                ul.dropdown-menu
                  li
                    a(href='../bloques') Programación por bloques
                  li
                    a(href='robots.html') Control de robots
                  li.active
                    a(href='dashboard.html') Panel IOT
            ul.nav.navbar-nav
              li.dropdown.active
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | AimaraBot
                  b  
                ul.dropdown-menu
                  li
                    a(href='/newconsole') BLOQUES
                  li
                    a(href='robots.html') Control de robots
                  li.active
                    a(href='dashboard.html') Panel IOT
    script(src='static/dashboard-modules/jquery-3.1.0.min.js')
    script(src='static/dashboard-modules/bootstrap.min.js')
