extends layout

block head
  title Educabot

block content
  h1 Bienvenido!!
  p - para controlar a Aimarabot accede desde el menu a sus opciones
  p - Programa la Placa Genuino 101, descubre sus posibilidades desde su menú
  
block styles
  link(rel="stylesheet", href="/static/css/main.css")

