doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description", content="ElBraian MVP")
		meta(name="author", content="Diego Ramirez")
		meta(name="viewport", content="width=device-width, initial-scale=1.0" )
		link(rel="stylesheet", href="/static/components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/static/css/newconsole.css")
		script(src="static/components/jquery/dist/jquery.js")
		script(src="/static/components/jqueryui/ui/jquery-ui.js")
		block styles
		block scripts
	body

		 

		//- nav.navbar.navbar-inverse
		//- 	.container-fluid
		//- 		.navbar-header
		//- 			a.navbar-brand.console(href="#") misi&oacute;n > Rescate Lunar
		//- 		.collapse.navbar-collapse
		//- 			ul.nav.navbar-nav
		//- 				li
		//- 					a(href="/") inicio
		//- 				li
		//- 					a(href="/consola") consola de prueba
		//- block main
		//- block footer
		//- block final_scripts



//-   include ../includes/head
//-   include ../includes/header
//-     block content
//-   include ../includes/footer
//- include ../includes/foot