doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="description", content="ElBraian MVP")
    meta(name="author", content="Diego Ramirez")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='static/favicon.ico')
    link(rel='stylesheet', href='static/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='static/dashboard-modules/material-dashboard.css')
    block head
    block styles

  body
    .container
      nav.navbar.navbar-info.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='../') Educablocks
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.material-icons code
                  p.hidden-lg.hidden-md Programas
                ul.dropdown-menu
                  li
                    a(href='/bloques') Bloques
                  li
                    a(href='/flechasrobot') Robots
                  li
                    a(href='/dashboard') Panel IOT

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.material-icons videocam
                  p.hidden-lg.hidden-md Tango
                ul.dropdown-menu
                  li
                    a(href='/visor') visor
                  li
                    a(href='/scratch') scratch 
              block menu-extra
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.material-icons crop_free
                  p.hidden-lg.hidden-md Configuracion
                ul.dropdown-menu
                  li
                    a#view-fullscreen(href='#') Pantalla Completa
                  li
                    a#cancel-fullscreen(href='#') Salir de pantalla completa

      block content
    block bloques

    block main
    script(src='static/dashboard-modules/jquery-3.1.0.min.js')
    script(src='static/dashboard-modules/bootstrap.min.js')
    script(src='static/dashboard-modules/material.min.js')
    script(src='static/dashboard-modules/material-dashboard.js')
    script(src='static/dashboard-modules/base.js')

    block scripts
    block final_scripts
