extends layout

block scripts
	script(src="static/js/newconsole.js")
block styles
	link(rel="stylesheet", href="/static/components/jqueryui/themes/sunny/jquery-ui.css")
block main
	.page-header 
		h3.text-console elbraian >_ A la luna voy a llegar, solo si ayudarme puedes...
		h3.text-console >_
	.container-fluid
		.row
			.col-md-4
				.panel.panel-primary
					.panel-heading secuencia
					.panel-body
						ul.list-group#steps
							li.list-group-item#placeholder agrega tu primer paso
			.col-md-4
				.row
					.well
						p
							| arrastra la acciones del panel izquierdo y 
							| conviertelo en un paso para elBraian
							| no olvides determinar la importancia del movimiento
							| o magnitud definiendo un numero 
					button.btn.btn-success comezar mision
			.col-md-4
				.panel.panel-success
					.panel-heading acciones
					.panel-body
						ul.list-group#actions
							li.list-group-item
								span.glyphicon.glyphicon-arrow-up &nbsp;avanzar
							li.list-group-item
								span.glyphicon.glyphicon-stop &nbsp;parar 
							li.list-group-item
								span.glyphicon.glyphicon-arrow-down &nbsp;retroceder
							li.list-group-item
								span.glyphicon.glyphicon-chevron-right &nbsp;girar derecha
							li.list-group-item
								span.glyphicon.glyphicon-chevron-left &nbsp;girar izquierda
