extends layout

block scripts
	script(src="static/components/bootstrap/dist/js/bootstrap.js")
	script(src="static/js/newconsole.js")
block styles
	link(rel="stylesheet", href="/static/components/jqueryui/themes/sunny/jquery-ui.css")
	link(rel="stylesheet", href="/static/css/newconsole.css")
block main
	.page-header
		.row
			.container-fluid
				.col-md-5
					.well-console
						h4.text-console
							| > _ Arrastra la acciones del panel derecho y 
							| conviertelo en un paso para elBraian.
							| No olvides determinar la longitud del movimiento
							| definiendo un numero que sera la cantidad en segundos
							| que nuestro heroe se movera en ese sentido

				.col-md-2
					img.img-rounded(src="/static/img/roboluna.jpg", height="170", width="150", style ="float: left")

				.col-md-5
					.well-console 
						h3.text-console elbraian >_ Debo rescatar a mi amigo el satelite!
						img(src="/static/img/prompt.gif", width="50", height="25")
	.container-fluid
		.row
			.col-md-3.col-md-offset-3
				.panel.panel-success
					.panel-heading acciones
					.panel-body
						ul.list-group#actions
							li.list-group-item
								span.glyphicon.glyphicon-arrow-up &nbsp;avanzar
							li.list-group-item
								span.glyphicon.glyphicon-stop &nbsp;parar 
							li.list-group-item
								span.glyphicon.glyphicon-arrow-down &nbsp;retroceder
							li.list-group-item
								span.glyphicon.glyphicon-chevron-right &nbsp;girar derecha
							li.list-group-item
								span.glyphicon.glyphicon-chevron-left &nbsp;girar izquierda
						button.btn.btn-success.center-block comezar mision
			.col-md-3
				.panel.panel-primary
					.panel-heading secuencia
					.panel-body
						ol.list-group#steps
							li.list-group-item#placeholder agrega tu primer paso