extends layout

block scripts
  script(src="static/js/newconsole.js")
  script(src="static/components/bootstrap/dist/js/bootstrap.js")
  script(src="static/blockly/blockly_compressed.js")
  script(src="static/blockly/blocks_compressed.js")
  script(src="static/blockly/python_compressed.js")    
  script(src="static/blockly/msg/js/es.js")
  script
    Blockly.Blocks['braian_movement_forward'] = {
      init: function() {
        this.appendValueInput("NAME")
            .setCheck("Number")
            .appendField("mover adelante")
            .appendField(new Blockly.FieldTextInput("1"), "seconds")
            .appendField("segundos");
        this.setPreviousStatement(true);
        this.setNextStatement(true);
        this.setColour(330);
        this.setTooltip('');
        this.setHelpUrl('http://www.example.com/');
      }
    };
    
    Blockly.Python['braian_movement_forward'] = function(block) {
      var text_seconds = block.getFieldValue('seconds');
      var value_name = Blockly.Python.valueToCode(block, 'NAME', Blockly.Python.ORDER_ATOMIC);
      // TODO: Assemble Python into code variable.
      var code = 'my_robot_set_movement_forward\nmy_robot.move()';
      return code;
    };

block styles
  link(rel="stylesheet", href="/static/components/jqueryui/themes/smoothness/jquery-ui.css")
block main
  .page-header
    .row
      .container-fluid
        .col-md-5
          .well-console#counter
            h3.console >: cantidad de astronautas
        .col-md-2
          img.img-rounded(src="/static/img/roboluna.jpg", height="170", width="150", style ="float: left")

        .col-md-5
          .well-console 
            h3.console elbraian >_ Debo rescatar a mi amigo el satelite!
            img(src="/static/img/prompt.gif", width="50", height="25")
  .container-fluid
    .row
      .col-md-4
        .container-fluid
          .row
            .col-md-12
              img(src=pic_url, height="200", width="300", style="position: relative; float: right;")
          .row
            .col-md-12
              br
              button.btn.btn-success.pull-right#execute(data-loading-text="en progreso...") comezar mision

      .col-md-8
        div#blocklyDiv(style="height: 480px; width: 700px")
        xml#toolbox(style="display: none")
          block(type="controls_if")
          block(type="logic_compare")
          block(type="controls_repeat_ext")
          block(type="math_number")
          block(type="math_arithmetic")
          block(type="text")
          block(type="braian_movement_forward")

            
block final_scripts
  script
    var workspace = Blockly.inject('blocklyDiv',{media: 'static/blockly/media/',
    toolbox: document.getElementById('toolbox'), trashcan: true});
