extends layout.jade

block scripts
  script(src="static/js/newconsole.js")
  script(src="static/components/bootstrap/dist/js/bootstrap.js")
  script(src="static/blockly/blockly_compressed.js")
  script(src="static/blockly/blocks_compressed.js")
  script(src="static/blockly/javascript_compressed.js")    
  script(src="static/blockly/msg/js/es.js")
  script(src="static/js/blocks.js")

block styles
  link(rel="stylesheet", href="/static/components/jqueryui/themes/smoothness/jquery-ui.css")
  
block main
  .container-fluid
    .col-md-5
  
  .container-fluid
    .row
      .col-md-4
        .container-fluid
          .row
            .col-md-12
              img(src=pic_url, height="250", width="350", style="position: relative; float: right;")
          .row
            .col-md-12
              br
              button.btn.btn-success.pull-right#execute(data-loading-text="en progreso...") comezar mision
          .row
            .col-md-12
              br
              .well-console#counter
                h3.console >: usuarios
          
          .row
            .col-md-12#panel-control
              br
      .col-md-8
        div#blocklyDiv(style="height: 650px; width: 800px")
        xml#toolbox(style="display: none")
          block(type="start")
          block(type="braian_movement_forward")
          block(type="braian_movement_back")
          block(type="turn_left")
          block(type="turn_right")
          block(type="math_number")
          block(type="controls_repeat_ext")

            
block final_scripts
  script
    | console.log("jhkjh");
    | var workspace = Blockly.inject('blocklyDiv',{media: 'static/blockly/media/',
    | toolbox: document.getElementById('toolbox'),
    | grid:
    |     {spacing: 20,
    |      length: 4,
    |      colour: '#ccc',
    |      snap: true},
    |trashcan: true});
