html, body {
    height: 96%;
    margin: 30px;
}

.blocklyTreeLabel,           /* Toolbox        */
.blocklyText,                /* Block          */
.goog-menuitem-content {     /* Drop down menu */
  font-family: "Roboto", sans-serif!important;
}


/* Toolbox */
.blocklyToolboxDiv {
  border-color: #e0e0e0 !important;
  border-width: 0px 1px 0px 0px !important;
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 4px 4px 0px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px 0px 0px 0px !important;
  background: rgba(33, 150, 243, .7) !important;  /* Arduino Light Teal */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden !important;
}
.blocklyTreeRoot {
  background: none !important;
  border: none !important;
  margin: 36px 0px 0px 0px !important;
  padding: 0px 1px !important;
  height: -moz-calc(100% - 37px);     /* Firefox  */
  height: -webkit-calc(100% - 37px);  /* WebKit   */
  height: -o-calc(100% - 37px);       /* Opera    */
  height: calc(100% - 37px);          /* Standard */
  overflow-x: hidden;
  overflow-y: auto;
}
.blocklyTreeRow {
  background: none !important;
  border: none !important;
  margin: 0px 0px !important;
  padding: 7px 16px 7px 0px !important;
  box-sizing: content-box !important;
}
.blocklyTreeSelected {
  background-color: rgba(255, 23, 68, 1) !important;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: rgba(255, 23, 68, 1) !important;
}

.blocklyTreeSeparator{
  padding: 0px !important;
  margin: 0px !important;
}

.blocklyFlyoutBackground {
  fill: #BBDEFB !important;
  fill-opacity: 0.4 !important;
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 0px 4px 4px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
}

.blocklyScrollbarKnob {
  fill: #2196F3!important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}

#code {
  height: 100%;
  overflow: auto;

}

#wrap {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Colours for the new and deleted code highlighting */
.code_highlight_new {
  background-color: rgba(255, 204, 51, 0.5); /* Arduino yellow 50% */
}
.code_highlight_deleted {
  background-color: #FDBEBE;
}
/* borde de blockly */

.blocklySvg {
  border-width: 0 !important;
}
